@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:wght@400;500;600&display=swap');

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfd;
}

h1, h2, h3, span {
  font-family: 'Alice', serif;
}

.circle {
  clip-path: circle(49.0% at 50% 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  @apply bg-[#fcfcfd] w-full max-w-md h-screen fixed right-0 top-0 z-[250] lg:hidden
}

.slide {
  @apply  h-full overflow-hidden -translate-x-1/2 duration-500 ease-in
}

.current {
  @apply translate-x-0
}

.carousel-button-group {
  @apply absolute left-1/2 -translate-x-1/2 flex items-center gap-4
}

ul.react-multi-carousel-track {
  @apply gap-10 duration-500 ease-in
}


/* .react-multi-carousel-track li{
  flex: 1 1 1;
} */